<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Bankereum!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js"
      integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA=="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/glide.min.js"
      integrity="sha512-IkLiryZhI6G4pnA3bBZzYCT9Ewk87U4DGEOz+TnRD3MrKqaUitt+ssHgn2X/sxoM7FxCP/ROUp6wcxjH/GcI5Q=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css"
      integrity="sha512-YQlbvfX5C6Ym6fTUSZ9GZpyB3F92hmQAZTO5YjciedwAaGRI9ccNs4iw2QTCJiSPheUQZomZKHQtuwbHkA9lgw=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/tailwind.min.css" />
    <link rel="stylesheet" href="./css/hamburgers.min.css" />
  </head>
  <style>
    :root {
      --primary: #012e58;
      --secondary: #fff5dc;
      --accent: #f6f6f6;
      --dark: #393939;
    }
    body {
      font-family: "Montserrat";
    }
    .bg-lion {
      background-color: #012e58;
      background-image: url("./img/tiger-img.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 35%;
    }
    @media screen and (max-width: 767px) {
      nav {
        transition: 0.4s ease;
      }
      .nav-collapsed {
        margin-top: -140%;
        transition: 0.4s ease;
      }
    }
  </style>
  <body class="bg-gray-50">
    <div class="w-full lg:hidden z-40 p-8 absolute" x-data="{ active: false }">
      <div
        class="hamburger text-white bg-gray-100 rounded-lg float-right is-active mx-auto w-max"
        :class="{ 'hamburger--3dx': active == true}"
        @click="active = ! active"
      >
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>

    <div class="">
      <div
        class="absolute z-40 mt-8 lg:mt-0 rounded-3xl ml-10 bg-transparent lg:px-6 lg:py-8 lg:pt-4 py-2 px-4"
      >
        <img src="./img/logo.png" alt="Myfuse!" class="w-32 mt-0 lg:mt-6" />
      </div>
    </div>

    <nav
      class="absolute bg-white mx-auto w-full z-0 nav-collapsed items-center lg:py-10 pt-32 py-6 lg:flex lg:px-16 justify-center shadow-xl"
    >
      <div class="ml-auto">Thursday 28 January 2021 12:13:8am</div>
    </nav>
    <script>
      $(".hamburger").on("click", function () {
        $("nav").toggleClass("nav-collapsed");
      });
    </script>
    <main class="py-32 bg-lion text-white text-center">
      <div class="mx-auto justify-center">
        <i class="fab fa-2x fa-btc px-6 py-5 bg-blue-500 rounded-full my-2"></i>
        <h1 class="font-semibold text-lg lg:text-5xl">TO VIEW</h1>
        <h3 class="font-semibold text-lg">
          Enter Username (or) Wallet Address
        </h3>
        <div class="">
          <input
            type="text"
            placeholder="Username (or) Wallet Address"
            class="px-6 py-2 rounded-full w-80 focus:outline-none bg-blue-900 text-white border border-white"
          />
          <button class="px-6 py-2 bg-blue-500 rounded-full focus:outline-none">
            View
          </button>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 pt-6 lg:px-32">
          <div class="">
            <h4 class="text-xs">Join if your are not with us</h4>
            <a href="./registration.html">
              <h3 class="font-semibold">Registration in BANKEREUM</h3>
            </a>
          </div>
          <div class="">
            <h4 class="text-xs">
              <span><i class="fab fa-telegram"></i></span> Telegram (official
              chat)
            </h4>
            <a href="./registration.html">
              <h3 class="font-semibold text-sm">@bankereum_official</h3>
            </a>
          </div>
          <div class="">
            <h4 class="text-xs">
              <span><i class="fab fa-telegram"></i></span> Telegram (official
              announcements)
            </h4>
            <a href="./registration.html">
              <h3 class="font-semibold text-sm">@bankereum_official</h3>
            </a>
          </div>
        </div>
      </div>
    </main>
    <iframe
      src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=light&amp;pref_coin_id=1505&amp;invert_hover="
      width="100%"
      height="36px"
      scrolling="auto"
      marginwidth="0"
      marginheight="0"
      frameborder="0"
      border="0"
      style="border: 0; margin: 0; padding: 0"
    ></iframe>
    <footer class="px-10 py-6 bg-gray-800 text-white">
      <div class="lg:flex">
        <div class="px-8">
          <img src="./img/logo.png" alt="Logo" />
          <p class="text-xs">
            Bankereum is a 100% decentralized global bank based on Ethereum
            blockchain technology, which already successfully unify professional
            traders, companies and individuals wishing to use cryptocurrencies
            without the risk of volatility on single platform. The software is
            based on Ethereum cryptocurrency and the transaction framework uses
            the latest Blockchain capabilities. Get all benefits of “digital
            gold” and more features with the world’s best crypto bank named
            ‘Bankereum’.
          </p>
        </div>
        <div class="lg:pt-0 pt-10 lg:px-10">
          <h1 class="font-semibold text-2xl">Newsletter</h1>
          <h4 class="font-semibold text-xs">
            Keep up to date with our progress. Subscribe for e-mail updates.
          </h4>
          <div class="">
            <input
              type="text"
              placeholder="Email Address"
              class="shadow-inner focus:outline-none bg-gray-700 px-6 py-3 my-2 rounded-3xl"
            />
            <button
              class="px-6 py-2 hover:bg-gray-400 focus:outline-none bg-gray-600 rounded-3xl"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex grid grid-cols-1 lg:grid-cols-6 lg:divide-x pt-10 text-center text-xs pb-10"
      >
        <a href="#"><h3 class="text-xs">Banking</h3></a>
        <a href="#"><h3 class="text-xs">Disclaimer</h3></a>
        <a href="#"><h3 class="text-xs">FAQ</h3></a>
        <a href="#"><h3 class="text-xs">Cookie Policy</h3></a>
        <a href="#"><h3 class="text-xs">Privacy Policy</h3></a>
        <a href="#"><h3 class="text-xs">About Us</h3></a>
      </div>
      <h1 class="text-center">
        Copyright © 2020-2021 Bankereum. All rights reserved.
      </h1>
    </footer>
  </body>
</html>
